<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>@zoltanfodor - linktr</title>
		<meta name="title" content="Zoltan Fodor Linktree">
		<meta name="description" content="Creative Web and Ecommerce Developer. Follow me on social.">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://wwww.linktr.zoltanfodor.dev">
		<meta property="og:title" content="Follow me on social - @zoltanfodor">
		<meta property="og:description"
			content="Creative Web and Ecommerce Developer. If you like my content or work let's connect and talk business">
		<meta property="og:image" content="https://zoltanfodor.b-cdn.net/profpic.jpeg">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://wwww.linktr.zoltanfodor.dev">
		<meta property="twitter:title" content="Zoltan Fodor Linktree">
		<meta property="twitter:description"
			content="Creative Web and Ecommerce Developer. If you like my content or work let's connect and talk business">
		<meta property="twitter:image" content="https://zoltanfodor.b-cdn.net/profpic.jpeg">
		
		<link rel="icon" href="https://zoltanfodor.b-cdn.net/fav.png">
	</head>
	<body style="height:100vh; max-height: 100vh;overflow-y: hidden;width: 100%;max-width: auto;">
		<slot />
	</body>
</html>